/* ==========================================================================
   Override library default variables here
   ========================================================================== */

@default-color: lighten(@heading-color, 10%);
@link-color: #f25433;

@row-height: 60px;

@footer-padding: 0;
@heading-margin: 40px 0 10px;
@header-padding: 0;
@section-padding: 0;

@paragraph-margin: 0 0 30px;

@button-active-background-color: #1485CC;
