/* ==========================================================================
   Project settings
   ========================================================================== */

@section-max-columns: 11;
@section-mobile-padding: 10px;
@section-tablet-padding: @column-fixed-width: