/* ==========================================================================
   Base template
   ========================================================================== */

/*
 * Less
 */
@header: white;
@background: darken(white, 10);
@zoom-scale: 1.005;

.shadow(){
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 2px 0px;
}

.blur(@length: 5px) {
    -webkit-filter: blur(@length);
    -moz-filter: blur(@length);
    -o-filter: blur(@length);
    -ms-filter: blur(@length);
    filter: blur(@length);
}



/**
 * Defaults
 */
* {
  .border-box();
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

code {
    background-color: #333;
    border-radius: 0!important;
    display: block;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 1 * @font-size;
    line-height: 1.2em;
    margin: @paragraph-margin;
    overflow-x: scroll;
    padding: 10px;
    white-space: pre;
}


/**
 * Fonts
 */
@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url('/static/blog/fonts/Lobster-regular/Lobster-regular.eot');
  src: url('/static/blog/fonts/Lobster-regular/Lobster-regular.eot?#iefix') format('embedded-opentype'),
       local('Lobster'),
       local('Lobster-regular'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.woff2') format('woff2'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.woff') format('woff'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.ttf') format('truetype'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.svg#Lobster') format('svg');
}


/*
 * Categoryview base styling
 */
body.categoryview {
    background: @background;
    line-height: 1.5em;

    #document > header {
        .cols(12);
        .rows(1);
        .vmargin(0, 0.25);
        .shadow();
        background: @header;
        display: -webkit-flex;
        display: flex;
        position: fixed;
        z-index: 1;

        h1 {
            .rows(1, line-height);
            .vmargin(0, 0);
            float: left;
            font-family: 'Lobster', cursive;
            font-size: 15px;
            padding-right: 15px;

            a:hover {
                text-decoration: none;
            }
        }

        nav {
            .rows(1, height);
            -webkit-flex-grow: 2;
            flex-grow: 2;
            float: left;

            ul {
                .rows(1, line-height);
                .hmargin(0, 1);
                list-style-type: none;

                li {
                    display: inline;
                    margin-right: 15px;

                    a {
                        .rows(1);
                        color: @default-color;
                        display: inline-block;
                        font-size: 80%;
                        font-weight: 300;
                        text-transform: uppercase;

                        &:hover {
                            color: @link-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    #document > section {
        .vmargin(1.25, 0);
        background: @background;

        .fetch_posts {
            .cols(12);
            .rows(1, line-height);
            display: block;
            float: left;
            text-align: center;
        }

        article {
            .shadow();
            float: left;
            font-size: 120%;
            font-weight: 300;
            line-height: 1.5em;
            //opacity: 0;
            overflow: hidden;
            transition: all .2s;

            header {
                overflow: hidden;
                white-space: nowrap;

                img {
                    .cols(12, width);
                    background: @background;
                }
            }

            section {
                .hpadding(0.5);

                h2 {
                    a {
                        color: @heading-color;
                        font-weight: bold;

                        &:hover {
                            color: @link-color;
                        }
                    }
                }

                p {
                    line-height: 1.2em;
                }
            }

            footer {
                .hpadding(0.5);
                background: white;
                overflow: hidden;
                position: relative;
                text-align: left;
                white-space: nowrap;

                a {
                    font-size: 80%;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            &:hover {
                cursor: pointer;
                transform: scale(@zoom-scale);
                -moz-transform: scale(@zoom-scale);
                -ms-transform: scale(@zoom-scale);
                -webkit-transform: scale(@zoom-scale);
            }
        }

        a {
            font-weight: 300;
        }
    }

    #document > footer {
        .cols(12);
        .rows(1);
        .vmargin(1, 0);
        background: @background;
        font-weight: 300;
        text-align: center;
    }
}

/*
 * Postview/pageview base styling
 */
body.postview, body.pageview {
    background: @background;
    font-size: 160%;

    #document > header {
        .cols(12);
        .rows(0, min-height);
        .rows(0, height);
        .vmargin(0, 0);

        h1 {
            .cols(12);
            .rows(1.5, top);
            display: block;
            font-family: 'Lobster', cursive;
            font-size: 300%;
            position: absolute;
            text-align: center;
            z-index: 1;

            a {
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #document > section {
        background: @background;

        article {
            font-weight: 300;

            h1, h2, h3 {
                font-weight: bold;
            }

            h2 {
                .vmargin(0, 1);
            }

            line-height: 1.5em;

            header {
                .cols(12, width);
                .rows(9, max-height);
                overflow: hidden;

                a {
                    .cols(12);
                    .rows(1, line-height);
                    background: @link-color;
                    color: white;
                    float: left;
                    text-align: center;
                }

                img {
                    //.blur();
                    height: inherit;
                    position: relative;
                    width: inherit;
                }
            }

            section {
                .cols(12);
                .hpadding(1);
                .vpadding(1);
                .shadow();
                position: relative;
            }

            section.content {
                .vmargin(-5, 0);

                img {
                    display: block;
                    margin: 40px auto;
                    max-width: 100%;
                }
            }

            section#disqus_thread {
                .vpadding(1, 1);
            }

            section.contact {
                form {
                    font-size: @font-size;

                    .errorlist {
                        li {
                            .alert();
                            margin: 0 0 10px;
                        }
                    }

                    label {
                        .hmargin(0, 0);
                    }

                    input, textarea {
                        .hmargin(0, 0);
                        .vmargin(0, 0);
                        font-size: 24px;
                        font-weight: 300;
                        line-height: initial;

                        &::-webkit-input-placeholder {
                            font-weight: 300;
                        }
                        &:-moz-placeholder {
                            font-weight: 300;
                        }
                        &:-ms-input-placeholder {
                            font-weight: 300;
                        }
                    }

                    input[type=text], textarea {
                        border: 0;
                        border-bottom: @input-border;
                    }

                    textarea {
                        .rows(3);
                        padding-top: 15px;
                        resize: vertical;

                        &::-webkit-input-placeholder {
                            font-weight: 300;
                        }
                        &:-moz-placeholder {
                            font-weight: 300;
                        }
                        &:-ms-input-placeholder {
                            font-weight: 300;
                        }
                    }
                }

            }

            footer {
                .cols(12);
                .hpadding(1);
                .vpadding(1);
                .shadow();
                position: relative;
                background: white;
                text-align: center;
            }
        }
    }

    #document > footer {
        .vmargin(1, 0);
        font-size: initial;
        font-weight: 300;
        text-align: center;
        background: @background;
    }
}