/* ==========================================================================
   Base template
   ========================================================================== */

/*
 * Less
 */
@header: white;
@background: darken(white, 10);

.shadow(){
    box-shadow: 0 0 0 1px rgba(34,34,34,0.1),0 6px 12px rgba(34,34,34,0.1);
}

.blur(@length: 5px) {
    -webkit-filter: blur(@length);
    -moz-filter: blur(@length);
    -o-filter: blur(@length);
    -ms-filter: blur(@length);
    filter: blur(@length);
}


/**
 * Defaults
 */
* {
  .border-box();
}

code {
    background-color: #333;
    border-radius: 0!important;
    display: block;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 1 * @font-size;
    line-height: 1.2em;
    margin: @paragraph-margin;
    overflow-x: scroll;
    padding: 10px;
    white-space: pre;
}


/**
 * Fonts
 */
@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url('/static/blog/fonts/Lobster-regular/Lobster-regular.eot');
  src: url('/static/blog/fonts/Lobster-regular/Lobster-regular.eot?#iefix') format('embedded-opentype'),
       local('Lobster'),
       local('Lobster-regular'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.woff2') format('woff2'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.woff') format('woff'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.ttf') format('truetype'),
       url('/static/blog/fonts/Lobster-regular/Lobster-regular.svg#Lobster') format('svg');
}


/*
 * Categoryview base styling
 */
body.categoryview {
    background: @background;
    line-height: 1.5em;

    #document > header {
        .cols(12);
        .rows(1);
        .vmargin(0, 0.25);
        .shadow();
        background: @header;
        position: fixed;
        z-index: 1;

        h1 {
            .vmargin(0.3, 0.3);

            float: left;
            font-family: 'Lobster', cursive;

            a:hover {
                text-decoration: none;
            }
        }

        nav {
            .cols(7);
            .rows(0, height);
            float: left;

            ul {
                .rows(1, line-height);
                .hmargin(1);
                list-style-type: none;

                li {
                    display: inline;
                    margin-right: 20px;

                    a {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    #document > section {
        .vmargin(1.25, 0);
        background: @background;

        .fetch_posts {
            .cols(12);
            .rows(1, line-height);
            display: block;
            float: left;
            text-align: center;
        }

        article {
            .shadow();
            float: left;
            font-size: 120%;
            line-height: 1.5em;
            overflow: hidden;

            header {
                overflow: hidden;
                white-space: nowrap;

                img {
                    .cols(12, width);
                    background: @background;
                }
            }

            section {
                .hpadding(0.5);

                h2 {
                    a {
                        color: @heading-color;
                        font-weight: bold;

                        &:hover {
                            color: @link-color;
                        }
                    }
                }

                p {
                    line-height: 1.2em;
                }
            }

            footer {
                .hpadding(0.5);
                background: white;
                overflow: hidden;
                position: relative;
                text-align: left;
                white-space: nowrap;

                a {
                    font-weight: bold;
                }
            }
        }
    }

    #document > footer {
        .cols(12);
        .rows(1);
        .vmargin(1, 0);
        background: @background;
        text-align: center;
    }
}

/*
 * Postview/pageview base styling
 */
body.postview, body.pageview {
    background: @background;
    font-size: 160%;

    #document > header {
        .cols(12);
        .rows(0, min-height);
        .rows(0, height);
        .vmargin(0, 0);

        h1 {
            .cols(12);
            .rows(1.5, top);
            display: block;
            font-family: 'Lobster', cursive;
            font-size: 300%;
            position: absolute;
            text-align: center;
            z-index: 1;

            a {
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #document > section {
        background: @background;

        article {
            h1, h2, h3 {
                font-weight: bold;
            }

            h2 {
                .vmargin(0, 1);
            }

            line-height: 1.5em;

            header {
                .cols(12, width);
                .rows(8, max-height);
                overflow: hidden;

                a {
                    .cols(12);
                    .rows(1, line-height);
                    background: @link-color;
                    color: white;
                    float: left;
                    text-align: center;
                }

                img {
                    .blur();
                    height: inherit;
                    width: inherit;
                }
            }

            section {
                .cols(12);
                .hpadding(1);
                .vpadding(1);
                .shadow();
                position: relative;
            }

            section.content {
                .vmargin(-3, 0);

                img {
                    display: block;
                    margin: 40px auto;
                    max-width: 100%;
                }
            }

            section#disqus_thread {
                .vpadding(1, 1);
            }

            section.contact {
                form {
                    font-size: @font-size;

                    .errorlist {
                        li {
                            .alert();
                            margin: 0 0 10px;
                        }
                    }

                    label {
                        .cols(12, min-width);
                        .hmargin(0, 0);
                    }

                    input, textarea {
                        .cols(12, min-width);
                        .hmargin(0, 0);
                        font-size: 24px;
                        line-height: initial;
                    }
                }

            }

            footer {
                .cols(12);
                .hpadding(1);
                .vpadding(1);
                .shadow();
                position: relative;
                background: white;
                text-align: center;
            }
        }
    }

    #document > footer {
        .vmargin(1, 0);
        font-size: initial;
        text-align: center;
        background: @background;
    }
}