/* ==========================================================================
   Base template
   ========================================================================== */

/**
 * Defaults
 */
* {
  .border-box();
}

code {
    display: block;
    line-height: 1.2em;
    padding: 10px;
    white-space: pre;
    border-radius: 0!important;
}


/**
 * Fonts
 */
.import-google-font('Lobster');


/*
 * Less
 */
@header: white;
@background: darken(white, 10);

.shadow(){
    box-shadow: 0 0 0 1px rgba(34,34,34,0.1),0 6px 12px rgba(34,34,34,0.1);
}

.blur(@length: 5px) {
    -webkit-filter: blur(@length);
    -moz-filter: blur(@length);
    -o-filter: blur(@length);
    -ms-filter: blur(@length);
    filter: blur(@length);
}


/*
 * Categoryview base styling
 */
body.categoryview {
    background: @background;
    line-height: 1.5em;
    
    #document > header {
        .cols(12);
        .rows(1);
        .vmargin(0, 0.25);
        background: @header;
        position: fixed;

        h1 {
            float: left;
            font-family: 'Lobster', cursive;

            a:hover {
                text-decoration: none;
            }
        }
        
        nav {
            .cols(7);
            .rows(0, height);
            float: left;

            ul {
                .rows(1, line-height);
                .hmargin(1);
                list-style-type: none;

                li {
                    display: inline;
                    margin-right: 20px;

                    a {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    #document > section {
        .vmargin(1.25, 0);
        background: @background;
        
        .fetch_posts {
            .cols(12);
            .rows(1, line-height);
            display: block;
            float: left;
            text-align: center;
        }
        
        article {
            .shadow();
            float: left;
            font-size: 120%;
            line-height: 1.5em;
            overflow: hidden;

            header {
                overflow: hidden;
                white-space: nowrap;

                img {
                    .cols(12, width);
                    background: @background;
                }
            }

            section, footer {
                .hpadding(0.5);
            }

            footer {
                background: white;
                overflow: hidden;
                text-align: left;
                white-space: nowrap;
            }
        }
    }

    #document > footer {
        .cols(12);
        .rows(1);
        .vmargin(1, 0);
        background: @background;
        text-align: center;
    }
}

/*
 * Postview/pageview base styling
 */
body.postview, body.pageview {
    background: @background;
    font-size: 160%;
    
    #document > header {
        .cols(12);
        .rows(0, min-height);
        .rows(0, height);
        .vmargin(0, 0);

        h1 {
            .cols(12);
            .rows(1.5, top);
            display: block;
            font-family: 'Lobster', cursive;
            font-size: 300%;
            position: absolute;
            text-align: center;
            z-index: 1;

            a {
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #document > section {
        background: @background;
        
        article {
            h3 {
                color: @link-color;
            }

            line-height: 1.5em;

            header {
                .cols(12, width);
                .rows(8, max-height);
                overflow: hidden;

                a {
                    .cols(12);
                    .rows(1, line-height);
                    background: @link-color;
                    color: white;
                    float: left;
                    text-align: center;
                }

                img {
                    .blur();
                    height: inherit;
                    width: inherit;
                }
            }

            section, footer {
                .cols(12);
                .hpadding(1);
                .vmargin(-3);
                .vpadding(1);
                .shadow();
                position: relative;

                h1, h2, h3, h4, h5, h6 {
                    .vmargin(0, 1);
                }
            }

            section {
                .vpadding(1, 3);
            }

            footer {
                .vmargin(-1, 3);
                background: white;
                overflow: hidden;
                text-align: center;
            }
        }
    }

    #document > footer {
        font-size: initial;
        text-align: center;
        background: @background;
    }
}