{% load formatting %}
{% load macros %}
{% load thumbnail %}


{% macro article_list data %}
    {% for post in data %}
    <article>
        <header>
            <a href="/{{ post.category.name }}/{{ post.short_title }}">
                <img src="{{ post.image.url|thumbnail_url:'article_list' }}" width="300" height="300" alt="{{ post.image.title }}">
            </a>
        </header>
        <section>
            <h2><a href="/{{ post.category.name }}/{{ post.short_title }}">{{ post.title }}</a></h2>
            {{ post.content|markdown|safe|truncatechars_html:300}}
        </section>
        <footer>
            <em>Written by {{ post.author.username }} on {{ post.date|datetime|date }}</em>
            <a href="/{{ post.category.name }}/{{ post.short_title }}">Read more</a>
        </footer>
    </article>
    {% endfor %}
{% endmacro %}



{% if results %}
    {% usemacro article_list results %}
{% else %}
    {% usemacro article_list article_list %}
{% endif %}