<!DOCTYPE html>
<!-- Server: {{ view.get_fqdn }} -->
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ view.get_blog_title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ view.get_base_url }}{{ request.path }}">
    {% if view.is_in_debug_mode %}
        <link rel="stylesheet" type="text/less" href="/static/blog/less/main.less">
        <link rel="stylesheet" type="text/css" href="/static/blog/css/fruity.css">
        <link rel="stylesheet" type="text/css" href="/static/blog/font-awesome/css/font-awesome.css">
    {% else %}
        <link rel="stylesheet" type="text/css" href="/static/blog/css/svenv.min.css">
    {% endif %}
</head>
<body class="{% block bodyclass %}{% endblock %}" data-page="1">
<main>
    {% block content %}{% endblock %}
</main>
{% if view.is_in_debug_mode %}
    <script src="/static/blog/jquery/dist/jquery.js"></script>
    <script src="/static/blog/less/dist/less.js" type="text/javascript"></script>
    <script src="/static/blog/js/blog.js" type="text/javascript"></script>
{% else %}
    <script src="/static/blog/js/svenv.min.js"></script>
{% endif %}
</body>
</html>
