<!DOCTYPE html>
<!-- Server: {{ view.get_fqdn }} -->
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ view.blog_title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ view.base_url }}{{ request.path }}">
    {% if view.is_in_debug_mode %}
    <link rel="stylesheet" type="text/css" href="/jspm_packages/npm/font-awesome@4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/blog/css/fruity.css">
    <link rel="stylesheet" type="text/less" href="/static/blog/less/main.less">
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/blog/css/svenv.min.css">
    {% endif %}
</head>
<body class="{% block bodyclass %}{% endblock %}" data-page="1" data-dnt="{{ view.is_in_debug_mode }}">
<main>
    {% block content %}{% endblock %}
</main>
{% if view.is_in_debug_mode %}
<script src="/jspm_packages/system.js"></script>
<script src="/config.js"></script>
<script>
    System.import('/static/blog/js/blog.js');
    System.import('less');
</script>
{% else %}
<script src="/static/blog/js/svenv.min.js"></script>
{% endif %}
</body>
</html>
