{% extends "blog/base.html" %}
{% load formatting %}

{% block title %}{{ view.get_page.title|title }} - {{ view.get_blog_title }}{% endblock %}
{% block description %}{{ view.get_page.description }}{% endblock %}
{% block bodyclass %}pageview{% endblock %}
{% block header %}<h1><a href="/">{{ view.get_blog_title }}</a></h1>{% endblock %}


<main>
{% block content  %}
    {% include "blog/components/article.html" %}
    {% include "blog/components/contact.html" %}
    {% include "blog/components/footer.html" %}
{% endblock %}
</main>