{% extends "blog/base.html" %}
{% load formatting %}

{% block title %}{{ view.page.title|title }} - {{ view.blog_title }}{% endblock %}
{% block description %}{{ view.page.description }}{% endblock %}
{% block bodyclass %}pageview{% endblock %}
{% block header %}<h1><a href="/">{{ view.blog_title }}</a></h1>{% endblock %}


{% block content  %}
    {% include "blog/components/article.html" %}
    {% include "blog/components/contact.html" %}
    {% include "blog/components/footer.html" %}
{% endblock %}
