{% extends results|yesno:"ajax.html,base.html" %}
{% load macros %}
{% load markdown %}

{% macro post_list data %}
    {% for post in data %}
    <article>
        <header>
            <a href="{{ post.category.name }}/{{ post.url_title }}"><img src="{{ post.image.url }}" width="{gith }}" height="{{ post.image.height }}" alt="{{ post.image.title }}"></a>
        </header>
        <section>
            <h3><a href="{{ post.category.name }}/{{ post.url_title }}">{{ post.title }}</a></h3>
            {{ post.content|markdown|safe }}
        </section>
        <footer>
            <em>Written by {{ post.author.username }} on {{ post.date|date }}</em>
            <a href="/{{ post.category.name }}/{{ post.url_title }}">Read more</a>
        </footer>
    </article>
    {% endfor %}
{% endmacro %}

{% block bodyclass %}listview{% endblock %}

{% block content %}
    {% if results %}
        {% usemacro post_list results %}
    {% else %}
        {% usemacro post_list post_list %}
        <a class="fetch_posts" href="#">Load more</a>
    {% endif %}
{% endblock %}
