{% extends "blog/base.html" %}
{% load formatting %}

{% block title %}{{ post.title|title }} - {{ view.get_blog_title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}
{% block bodyclass %}postview{% endblock %}

{% block content  %}
    <article>
        <header>
            <a href="/">More posts</a>
            <img src="{{ view.get_media_url }}{{ post.image.url }}" width="{{ post.image.width }}" height="{{ post.image.height }}" alt="{{ post.image.title }}">
        </header>
        <section class="content">
            <h3>{{ post.title }}</h3>
            {{ post.content|markdown|safe }}
        </section>
        <footer>
            <em>Written by {{ post.author.username }} on {{ post.date|date }}</em>
            <a href="/{{ post.category.name }}/{{ post.short_title }}">Permalink</a>
        </footer>
        <section id="disqus_thread"></section>
    </article>
{% endblock %}